{% extends "base.html" %}

{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}

<main class="main-content">

    <section class="section" id="about">
        <h2>About Me</h2>
        <p>
            I come from a data-driven culture. I have professional experience with measurement and reporting tools including Google Sheets/Microsoft Excel, Google Marketing Platform (Google Analytics 4 and Google Tag Manager), Power BI, Python (libraries Pandas, Numpy, Matplotlib), MySQL, and ChatGPT/Gemini. I am comfortable with CLI-based operating systems such as Linux.
        <ul>
            <li>Apart from my professional skill set, I have a keen interest in Machine Learning, Cyber Security, and Design Engineering.</li>
            <li>In pursuit of my love for Aircraft, I studied Aeronautical Engineering for my baccalaureate degree.</li>
        </ul>
            In every role, my focus has been on streamlining the process; my approach to any complex problem is simple and straightforward. I like to dissect the problem statement into bits and pieces, approaching each of them in a sequence. Not only does it keep me motivated towards the final goal, but it also allows me to strategically devise solutions to granular issues. I gained experience working for two large-scale organizations: WNS and Cognizant. These roles demanded a high level of attention and intense focus. Here are some of my notable contributions to my previous employers:
        <ul>
            <li>Analyze revenue data to identify trends and patterns, pinpointing the root cause of anomalies.</li>
            <li>Developed innovative methods to identify and validate new users, significantly reducing costs by eliminating invalid and spam activity.</li>
        </ul>
        </p>
    </section>

</div>

{% endblock %}