{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}


<div class="container">
<section id="resume">
<h2>Contact Details</h2>
<ul id="resume_ul">
    <h4><strong>Name: </strong>Vyom Deepansh<h4>

    <h4><strong>Email: </strong>vyomdeepansh@gmail.com<h4>

    <h4><strong>Contact Number: </strong>+91 88266 16123<h4>
    
    <h4><strong>LinkedIn: </strong>https://www.linkedin.com/in/vyomdeepansh/<h4>

    <h4><strong>Website: </strong>http://vyomd.online/<h4>

</section>
</div>

</section>
</html>

{% endblock %}
