{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

<main class="main-content">

    <section class="section" id="about">
        <h2>About Me</h2>
        <p>Welcome to my portfolio! I am a passionate designer and a professional in data analysis, web development, and database management. My goal is to leverage my skills to build innovative and exciting projects.</p>
    </section>

    <section class="section" id="technical-skills">
        <h2>Technical Skills</h2>
        <ul>
            <li>
                <h3>Python Modules:</h3>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 70%;"></div>
                </div>
                <ul>
                    <li>Pipenv, Pandas, Numpy, Matplotlib, Seaborn, Plotly, SimPy, Networkx</li>
                </ul>
            </li>
            <li>
                <h3>Data Engineering:</h3>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 50%;"></div>
                </div>
                <ul>
                    <li>MySQL, BigQuery</li>
                </ul>
            </li>
            
            <li>
                <h3>Web Development: </h3>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 50%;"></div>
                </div>
                <ul>
                    <li>Django, HTML, CSS, JavaScript</li>
                </ul>
            </li>
            
            <li>
                <h3>Google Stack: </h3>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 50%;"></div>
                </div>
                <ul>
                    <li>Google Cloud Platform, Google Analytics 4, Google Ads, Google Tag Manager, Google AppScript</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="section" id="professional-skills">
        <h2>Professional Skills</h2>
        <ul>
            <li><strong>Research and Analytics:</strong> Proficient in both low-level (Google Sheets, Microsoft Excel) and high-level (Python, SQL) data analysis tools.</li>
            <li><strong>Problem-Solving:</strong> Proven ability to extract meaningful insights from complex datasets.</li>
            <li><strong>Adaptability:</strong> Successfully navigated diverse roles at WNS, Aakarist Pvt Ltd, and Cognizant.</li>
            <li><strong>Continuous Learning:</strong> Bachelor's degree in Aeronautical Engineering and a commitment to staying current with industry trends.</li>
        </ul>
    </section>

    <section class="section" id="work-experience">
        <h2>Work Experience</h2>
        <ul>
            <li>
                <strong>Cognizant Technology Solutions [2022]: </strong>Senior Analyst
                <ul>
                    <li>Data cleaning, Extraction and Manipulation</li>
                    <li>Creating and Managing pipelines</li>
                    <li>Data streamlining, Feature engineering, Reporting and Dashboard creation</li>
                    <li>Designing and Implementing data analyses, collection systems and strategies that optimize statistical efficiency and quality</li>
                    <li>Troubleshooting data discrepancies across different platforms/products to ensure minimum variance</li>
                    <li>Debugging web analytics reporting and tracking implementations</li>
                </ul>
            </li>
            
            <li>
                <strong>Aakarist Pvt Ltd [2020]: </strong>Senior Analyst
                <ul>
                    <li>Collecting and analyzing customer, marketing, and behavioral data</li>
                    <li>Analyzing key metrics, and identifying opportunities to increase campaign performance</li>
                    <li>Developing and presenting analyses, insights, and recommendations</li>
                    <li>Testing campaigns and web measurement strategies</li>
                    <li>Monitoring and analyzing digital media and marketing trends</li>
                    <li>Communicating and presenting to colleagues, senior managers, and clients</li>
                </ul>
            </li>
            
            <li>
                <strong>WNS Global Services [2019]: </strong>Analyst
                <ul>
                    <li>Data analysis using statistical techniques</li>
                    <li>Dashboard creation, data visualizations, and campaign performance reports</li>
                    <li>Communicating and presenting analyses, insights, and recommendations to clients</li>
                </ul>
            </li>          
    </section>

    <section class="section" id="certification-awards">
        <h2>Certifications and Awards</h2>
        <ul>
            <li>
                <strong>FreeCodeCamp.Org:</strong> Python Certifications
                <ul>
                    <li>Scientific Computing</li>
                    <li>Machine Learning</li>
                </ul>
            </li>

            <li>
                <strong>Google Digital Garage:</strong> Google Stack Certifications
                <ul>
                    <li>Google Analytics Advanced</li>
                    <li>Fundamentals of Digital Marketing</li>
                </ul>
            </li>

            <li>
                <strong>UIPath:</strong> Robotic Process Automation
                <ul>
                    <li>RPA for beginners</li>
                </ul>
            </li>

            <li>
                <strong> Institute of Industrial Design:</strong> Design Engineering
                <ul>
                    <li>Associate in Aero Design</li>
                    <li>Computational Fluid Dynamics</li>
                </ul>
            </li>

            <li>
                <strong> Indian Institute of Technology:</strong> Boeing Engineering Innovation Awards
                <ul>
                    <li>Parameters: design, performance and stability of the aircraft</li>
            </li>
        </ul>
    </section>

    <section class="section" id="education">
        <h2>Education</h2>
        <ul>
            <li>
                <strong>Manav Rachna International University [2018]:</strong> Bachelor of Technology in Aeronautical Engineering
                <ul>
                    <li>Numerical methods and optimization Techniques</li>
                    <li>Aerodynamics</li>
                    <li>Rocket propulsion</li>
                    <li>Continuum mechanics</li>
                </ul>
            </li>
        </ul>
    </section>
</main>

{% endblock %}