{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container">
    <section id="resumeSection">
    <h2><strong>About Me</strong></h2>
            <h3>
                Welcome to my portfolio! I am a passionate designer and a professional in data analysis, web development, and database management. My goal is to leverage my skills to build innovative and exciting projects.
            </h3>
    </section>
    </div>
    
    <div class="container">
    <section id="resumeSection">
    <h2><strong>Technical Skills</strong></h2>
    <ul id="resumeUnorderedList">
    
        <h2><strong><li><div class="skill-container">
            <div class="skill">
                <div class="skill-label">Python Modules: </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 70%;"></div> <!-- Adjust the width based on your expertise level -->
                </div>
                </div></li></strong></h2>
                <h3>
                    <ul id="subbullets">
                        <li>Pipenv, Pandas, Numpy, Matplotlib, Seaborn, Plotly, SimPy, Networkx</li>
            </h3>

        <h2><strong><li><div class="skill-container">
            <div class="skill">
                <div class="skill-label">Database Management: </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 50%;"></div> <!-- Adjust the width based on your expertise level -->
                </div>
                </div></li></strong></h2>
                <h3>
                    <ul id="subbullets">
                        <li>MySQL, BigQuery</li>
            </h3>
    
        <h2><strong><li><div class="skill-container">
            <div class="skill">
                <div class="skill-label">Data Visualization: </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 85%;"></div> <!-- Adjust the width based on your expertise level -->
                </div>
                </div></li></strong></h2>
                <h3>
                <ul id="subbullets">
                    <li>Looker Studio, Tableau, Power BI</li>
                </ul>
            </h3>
    
        <h2><strong><li><div class="skill-container">
            <div class="skill">
                <div class="skill-label">Web Development: </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 45%;"></div> <!-- Adjust the width based on your expertise level -->
                </div>
                </div></li></strong></h2>
                <h3>
                <ul id="subbullets">
                    <li>Django, HTML, CSS, JavaScript</li>
                </ul>
            </h3>    
    
        <h2><strong><li><div class="skill-container">
            <div class="skill">
                <div class="skill-label">Google Stack: </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 75%;"></div> <!-- Adjust the width based on your expertise level -->
                </div>
                </div></li></strong></h2>
                <h3>
                <ul id="subbullets">
                    <li>Google Analytics 4, Google Ads, Google Tag Manager, Google AppScript</li>
                </ul>
            </h3>    
    </section>
    </div>
    
    <div class="container">
    <section id="resumeSection">
    <h2><strong>Professional Skills</strong></h2>
    <ul id="resumeUnorderedList">
        <h2><strong>Research and Analytics: </strong>Proficient in both low-level (Google Sheets, Microsoft Excel) and high-level (Python, SQL) data analysis tools.<h2>
    
        <h2><strong>Problem-Solving: </strong>Proven ability to extract meaningful insights from complex datasets.<h2>
    
        <h2><strong>Adaptability: </strong>Successfully navigated diverse roles at WNS, Aakarist Pvt Ltd, and Cognizant.<h2>
        
        <h2><strong>Continuous Learning:</strong>Bachelor's degree in Aeronautical Engineering and a commitment to staying current with industry trends.<h2>
    </section>
    </div>
    
    <div class="container">
    <section id="resumeSection">
    <h2><strong>Professional Experience</strong></h2>
    <ul id="resumeUnorderedList">
        <h2><strong>Cognizant Technology Solutions [2022]: </strong>Senior Analyst</h2>
            <h3>
                <ul id="subbullets">
                    <li>Data cleaning, Extraction and Manipulation</li>
                    <li>Creating and Managing pipelines</li>
                    <li>Data streamlining, Feature engineering, Reporting and Dashboard creation</li>
                    <li>Designing and Implementing data analyses, collection systems and strategies that optimize statistical efficiency and quality</li>
                    <li>Troubleshooting data discrepancies across different platforms/products to ensure minimum variance</li>
                    <li>Debugging web analytics reporting and tracking implementations</li>
                </ul>
            </h3>
    
            
        <h2><strong>Aakarist Pvt Ltd [2020]: </strong>Senior Analyst</h2>
            <h3>
                <ul id="subbullets">
                    <li>Collecting and analyzing customer, marketing, and behavioral data</li>
                    <li>Analyzing key metrics, and identifying opportunities to increase campaign performance</li>
                    <li>Developing and presenting analyses, insights, and recommendations</li>
                    <li>Testing campaigns and web measurement strategies</li>
                    <li>Monitoring and analyzing digital media and marketing trends</li>
                    <li>Communicating and presenting to colleagues, senior managers, and clients</li>
                </ul>
            </h3>
        
        <h2><strong>WNS Global Services [2019]: </strong> Analyst</h2>
            <h3>
                <ul id="subbullets">
                    <li>Data analysis using statistical techniques</li>
                    <li>Dashboard creation, data visualizations, and campaign performance reports</li>
                    <li>Communicating and presenting analyses, insights, and recommendations to clients</li>
                  </ul>
            </h3>
            </ul>
    </section>
    </div>
    
    <div class="container">
    <section id="resumeSection">
    <h2><strong>Certification and Awards</strong></h2>
    <ul id="resumeUnorderedList">
        <h2><strong>FreeCodeCamp.Org: </strong>Python Certifications</h2>
            <h3>
                <ul id="subbullets">
                    <li>Scientific Computing using Python</li>
                    <li>Machine Learning using Python</li>
                </ul>
            </h3>
    
        <h2><strong>Google Digital Garage: </strong>Google Stack Certifications</h2>
            <h3>
                <ul id="subbullets">
                    <li>Google Analytics Advanced</li>
                    <li>Fundamentals of Digital Marketing</li>
                    <li>Fundamentals of Digital Marketing</li>
                </ul>
            </h3>
    
        <h2><strong>UIPath: </strong>Robotic Process Automation</h2>
            <h3>
                <ul id="subbullets">
                    <li>RPA for beginners</li>
                </ul>
            </h3>
    
        <h2><strong>Insititue of Industrial Design: </strong>Design Engineering</h2>
            <h3>
                <ul id="subbullets">
                    <li>Associate in Aero Design</li>
                    <li>Computational Fluid Dynamics</li>
                </ul>
            </h3>
    
        <h2><strong>Indian Institute of Technology: </strong>Boeing Engineering Innovation Awards</h2>
            <h3>
                <ul id="subbullets">
                    <li>Parameters involved were design, performance and stability</li>
                    <li>Computational Fluid Dynamics</li>
                </ul>
            </h3>
    
    </section>
    </div>
    
    <div class="container">
        <section id="resumeSection">
        <h2><strong>Education</strong></h2>
        <ul id="resumeUnorderedList">
            <h2><strong>Manav Rachna International Universty [2018]: </strong>Bachelor of Technology in Aeronautical Engineering</h2>
                <h3>
                        <ul id="subbullets">
                            <li>Numerical methods and optimization Techniques</li>
                            <li>Aerodynamics</li>
                            <li>Rocket propulsion</li>
                            <li>Continuum mechanics</li>
                        </ul>
                </h3>
    </section>
    </div

{% endblock %}