{% extends "base.html" %}

{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}

<div class="container">
    <section id="resume">
    <h2>Professional Skills</h2>
    <ul id="resume_ul">
        <h4><strong>Research and Analytics: </strong>Proficient in both low-level (Google Sheets, Microsoft Excel) and high-level (Python, SQL) data analysis tools.<h4>
    
        <h4><strong>Problem-Solving: </strong>Proven ability to extract meaningful insights from complex datasets.<h4>
    
        <h4><strong>Adaptability: </strong>Successfully navigated diverse roles at WNS, Aakarist Pvt Ltd, and Cognizant.<h4>
        
        <h4><strong>Continuous Learning:</strong>Bachelor's degree in Aeronautical Engineering and a commitment to staying current with industry trends.<h4>
    </section>
    </div>
    
{% endblock %}