{% extends "base.html" %}

{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}

<main class="main-content">

<section class="section" id="professional-skills">
    <h2>Professional Skills</h2>
                <li><strong>Research and Analytics: </strong>Proficient in both low-level (Google Sheets, Microsoft Excel) and high-level (Python, SQL) data analysis tools.</li>
                <li><strong>Problem-Solving: </strong>Proven ability to extract meaningful insights from complex datasets.</li>
                <li><strong>Adaptability: </strong>Successfully navigated diverse roles at WNS, Aakarist Pvt Ltd, and Cognizant.</li>
                <li><strong>Continuous Learning: </strong>Bachelor's degree in Aeronautical Engineering and a commitment to staying current with industry trends.</li>
                <li><strong>Critical Thinking and Attention to detail:</strong> Questioning assumptions, identifying biases, and drawing well-supported conclusions. A keen eye for detail to ensure the data is clean, analysis is error-free, and conclusions are sound.</li>
            </ul>
        </h6>
        </section>
</div>

{% endblock %}