html {
    display: sticky;
    position: relative;
    scroll-behavior: smooth;
    padding: 0%;
    background-color: #0e0e0eda; /* Set a background color for the entire page */
}

body {
    margin: 0; /* Remove default margin to ensure a full-width layout */
    font-family: 'Open Sans', sans-serif; /* Set a preferred font-family */
    line-height: 1.61; /* Improve readability by setting line height */
    color: #333; /* Set a default text color */
    font-weight: 400;
    display: swap;
}

  
header {
      padding: 1.61%;
  }
  
body {
    font-family: sans-serif;
    background-image: url('../images/5075841.jpg');
  }
  
body.fade {
      animation: fadeIn 1s ease;
  }

/*----------------------------------------------------------------------------------------------------------------------------*/

h1 {
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: 644;
}

h2 {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-variant: normal;
    font-weight: 500;
}

h3 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-variant: normal;
    font-weight: 322;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 322;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*              navigationbar                          ------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/

html body.fade div#sidebar nav ul#sidebarUnorderedList li a i {
    display: inline-block;
    color: rgba(209, 209, 209, 0.932);

    /* Add the following lines for the hover effect */
    transition: transform 0.3s ease; /* Add a transition for a smooth hover effect */
}

html body.fade div#sidebar nav ul#sidebarUnorderedList li a i:hover {
    transform: scale(2); /* Magnify the icon 2x and center it horizontally on hover */
    opacity: 100%;
    color: black;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*              navigationbar                          ------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/

html body.fade div#sidebar nav ul#sidebarUnorderedList li {
    font-size: 64.4px;
    display: inline-block;
    margin: 1.61%;
    color: #ffffff;
    padding: 1.61%;
    border-radius: 25.40px;
    position: relative; /* Add position relative for positioning the pseudo-element */
}

/*----------------------------------------------------------------------------------------------------------------------------*/

html body.fade div#sidebar nav ul#sidebarUnorderedList li a {
    flex-direction: row;

    /* Add the following lines for the hover effect */
    transition: transform 0.3s ease; /* Add a transition for a smooth hover effect */
}

/*----------------------------------------------------------------------------------------------------------------------------*/

html body.fade div#sidebar nav ul#sidebarUnorderedList {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

html body.fade div#sidebar nav {
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*       vyomDeepansh      ---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
html body.fade header#vyomDeepansh a h1 {
    display: inline-block;
    height: 44px;
    width: 100%;
    inline-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    margin: 1.61%;
    padding: 1.61%;
    font-size: 64.4px;
    color: #ffffff;
    transition: inline-size 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url(../images/planet-581239_1920.jpg);
    background-size: 180%;
    opacity: 0.75;
    scale: 1.1;
    position: absolute;
    left: 50%;
}

html body.fade header#vyomDeepansh a h1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75; /* Adjust overlay opacity */
    transition: opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); /* Transition for overlay opacity */
    background-image: url(../images/pexels-adrien-olichon-2387793.jpg);

}

html body.fade header#vyomDeepansh a h1:hover::before {
    opacity: 0; /* Make the overlay fully transparent on hover */
}

html body.fade header#vyomDeepansh a h1:hover {
    inline-size: 100%;
    transition: inline-size 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s ease; /* Adjusted timing function and duration */
    opacity: 1;
    background-image: none;
    background-blend-mode: multiply;
    background: black; /* Adjust background color as needed */
    transform: translate(-50%, -50%);


}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*       vyomDeepansh      ---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

html body.fade header#vyomDeepansh a h1 {
    padding: 1.61%; /* Add padding for better spacing */
    border-radius: 12.70px; /* Add rounded corners for a polished look */
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------            resumeSectionTitle        -----------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.container {
    height: $sectionResume-height;
}

html body.fade div.container section#resumeSection{
    display: flex;
    flex-direction: row;
    position: relative;
}

html body.fade div.container section#resumeSection h2 strong{
    display: flex;
    flex-direction: row;
    position: relative;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------         resumeSectionDescription     -----------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

html body.fade div.container section#resumeSection h2 {
    background-color: black; /* Replace with your desired background color */
    padding: 0.4%; /* Add padding for better spacing */
    border-radius: 12.70px; /* Add rounded corners for a polished look */
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------         resumeSectionDescription     -----------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

html body.fade div.container section#resumeSection h3 {
        display: block;
        background-color: black; /* Replace with your desired background color */
        padding: 0.4%; /* Add padding for better spacing */
        margin: 1.61%;
        border-radius: 12.70px; /* Add rounded corners for a polished look */
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/